[Desktop Entry]
Version=1.0
Name=Swarm
Type=Application
Comment=Manage Your Terminal Applications
Terminal=true
Exec=swarm
Icon=swarm
Categories=ConsoleOnly;System;
GenericName=Terminal Multiplexer
